p{
    background-color: darkturquoise;
    padding: 50px 70px 80px 100px;
    margin: 20px 100px 200px 10px;
    border: solid green 10px;
    width: 100px;
}
/*img{
    background-color: yellow;
    padding: 20px 40px 50px 30px;
    margin: 30px 20px 50px 70 px;
    border: solid green 20px;
    border-radius: 40px;
}*/
#img2{
    float: right;
}